.search-form-container {
  select {
    border-radius: 5px;
    height: 38px;
    min-width: 140px;
    border: 1px solid #cecece;
    margin-right: 20px;
  }
  .keyword-input {
    height : 38px;
  }
}